body {
    color: #303841;
    font-family: Rubik,sans-serif;
    margin: 0;
}

.app-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 760px;
    margin: 0 auto;
}

.app-card{
    background-color: #fff;
    box-sizing: border-box;
    width: 360px;
    height: 600px;
    box-shadow: 0 3.2px 2.2px rgba(0,0,0,.02), 0 7px 5.4px rgba(0,0,0,.028), 0 12.1px 10.1px rgba(0,0,0,.035), 0 19.8px 18.1px rgba(0,0,0,.042), 0 34.7px 33.8px rgba(0,0,0,.05), 0 81px 81px rgba(0,0,0,.07);
    border-radius: 30px;
    overflow: hidden;
    padding: 0 28px;
    position: relative;
    margin-bottom: 20px;
}

.cart-body{
    height: calc(100% - 98px);
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
}

.cart-top {
    margin: 12px 0;
    position: relative;
}
.cart-empty{
    position: absolute;
}
.cart-empty-text{
    font-size: 14px;
}

.cart-top-logo{
    display: block;
    width: 50px;
}

.cart-title{
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0;
    position: relative;
}
.cart-title-amount{
    float: right;
}

.shop-item:first-child {
    padding-top: 0;
}

.shop-item {
    padding: 40px 0;
}

.shop-item-image {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.shop-item-image img{
    display: block;
    width: 100%;
    filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
    transform: rotate(-24deg);
    margin-left: -16px;
}

.shop-item-name {
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
}

.shop-item-description{
    font-size: 13px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 20px;
}

.shop-item-botton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-item-price{
    font-size: 18px;
    font-weight: 700;
}

.shop-item-button{
    cursor: pointer;
    background-color: #f6c90e;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    padding: 16px 20px;
    border-radius: 100px;
    transition: all .25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden
}

.cart-item{
    display: flex;
    padding: 20px 0;
}

.cart-item-left{
    flex: 0;
}

.cart-item-right{
    flex: 1;
}

.cart-item-image{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #eee;
    margin-right: 34px;
}

.cart-item-block img{
    display: block;
    width: 140%;
    transform: rotate(-28deg) translateY(-40px);
    filter: drop-shadow(0 30px 20px rgba(0,0,0,.2));
}

.cart-item-name{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.cart-item-price{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.cart-item-action, .cart-item-count{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-item-count{
    flex: 1;
}

.cart-count-button{
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-count-number{
    font-size: 14px;
    margin: 0 8px;
    width: 20px;
    text-align: center;
}

.cart-item-remove{
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: all .25s ease;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6c90e;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cart-item-remove img{
    width: 16px;
    height: 16px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}


div {
    display: block;
}



